@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap');

/* Common Start */ 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #3A3A3A;
}
.container{
    width: 85%;
}
.common-heading{
    margin-bottom: 50px;
    font-size: 28px;
    font-weight: 600;
    text-align: center;
}
/* Common End */ 
/* Header Start */
header{
    display: flex;
    justify-content: center;
}
.header-top{
    padding: 70px 0 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo a{
    font-size: 24px;
    text-decoration: none;
}
nav ul{
    display: flex;
}
nav ul li{
    margin-right: 34px;
    list-style: none;
}
nav ul li a{
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
}
nav ul li:last-child{
    margin-right: 0;
}
nav ul li:last-child a i{
    font-size: 24px;
}
.header-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-left{
    padding-right: 150px;
}
.header-left h1{
    font-size: 52px;
    line-height: 70px;
}
.header-left p{
    margin: 16px 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}
.header-btn{
    Width: 196px;
    Height: 44px;
    background-color: #E02C6D;
    border-radius: 41px;
    border: 0;
    font-size: 16px;
    color: #ffffff;
    cursor: pointer;
    transition: 0.3s ease-out;
}
.header-arrow{
    margin-left: 8px;
    color: #ffffff;
}
.header-btn:hover{
    font-size: 18px;
    background-color: transparent;
    border: 1px solid #E02C6D;
    color: #E02C6D;
}
.header-btn:hover .header-arrow{
    color: #E02C6D;
}
.header-right{
    position: relative;
}
.header-img1 img{
    Width: 475px;
    Height: 475px;
}
.header-img2{
    position: absolute;
    top: 25px;
    transition: transform 0.5s ease-in-out;
}
.header-img2 img{
    Width: 440px;
    Height: 414px;
}
.header-right:hover .header-img2{
    position: absolute;
    top: 25px;
    transform: scale(1.2);
}
/* Header End */

/* Popular Collection Start */
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container-two{
    width: 78%;
}
.popular-collection{
    padding: 100px 0;
}
.all-collection{
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px 30px;
}
.single-collection{
    padding: 17px 15px;
    box-shadow: 0px 0px 20px gray;
}
.single-collection img{
    width: 300px;
    height: 256px;
    border-radius: 5px;
}
.collection-h3{
    margin: 16px 0 6px;
    font-size: 28px;
    font-weight: 500;
    color: #18191F;
}
.collection-h4{
    margin-bottom: 5px;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #000000;
}
.fa-star{
    font-size: 14px;
}
.fill-icon{
    color: orange;
}
.empty-icon{
    color: orange;
}
.rattings span{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #5E6366;
}
.collection-p{
    margin-top: 5px;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #787885;
}
.collection-btn{
    text-align: right;
}
.collection-btn button{
    background-color: transparent;
    border: 0;
    font-size: 16px;
    color: #E02C6D;
    cursor: pointer;
}
.collection-btn .fa-arrow-right{
    color: #E02C6D;
    margin-left: 8px;
}
/* Popular Collection End */

/* Services Start */
.services{
    padding-bottom: 100px;
}
.all-services{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 30px;
}
.single-service{
    text-align: center;
}
.service-icon a i{
    border: 20px solid #E02C6D;
    border-radius: 50%;
    background-color: #E02C6D;
    font-size: 50px;
    color: #ffffff;
}
.service-h4{
    margin: 15px 0 10px;
    font-size: 18px;
    font-weight: 600px;
    color: #000000;
}
.service-p{
    font-size: 16px;
    font-weight: 400;
}
/* Services End */

/* Footer Start */
footer{
    padding: 60px 0;
    background-color: #0A0826;
}
.footer-content{
    text-align: center;
}
.footer-content h2{
    font-size: 24px;
    color: #ffffff;
}
.footer-content p{
    margin: 6px 0;
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #D9DBE1;
}
.social-icon{
    margin-top: 25px;
}
.social-icon a{
    margin-right: 16px;
    padding: 8px 10px 6px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #22213C;
}
.social-icon a:last-child{
    margin-right: 0;
}
.social-icon a i{
    font-size: 20px;
    color: #ffffff;
}
/* Footer End */
